/messages/
/inputData/message_1.json
/inputData/message_2.json
/inputData/message_3.json
/inputData/message_4.json
/outputData/message_1.json
/outputData/message_2.json
/outputData/message_3.json
/outputData/message_4.json
/outputData/metadata_results.json
/entry_list_of_words.txt
/outputData/
